<ion-header class="ion-hide-lg-up">
    <ion-toolbar color="light">
        <ion-buttons slot="start">
            <ion-button [routerLink]="['/profile-consultant']">
                <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title> درخواست وبینار </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <app-header type="relative"></app-header>
    <header-type-two [breadCrumb]="breadCrumb"></header-type-two>
    <app-profile-consultant-header></app-profile-consultant-header>
    <section class="webinar">
        <div class="container ">
            <div class="webinarRequest">
                درخواست وبینار
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</ion-content>