// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
@import "./mixins";
@import "./extends";
@import "./custom";
%flex-row-center-between {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


/** Ionic CSS Variables **/

:root {
    /** primary **/
    --ion-color-primary: #008ba3;
    --ion-color-primary-rgb: 0, 139, 163;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #007a8f;
    --ion-color-primary-tint: #1a97ac;
    /** secondary **/
    --ion-color-secondary: #00bcd4;
    --ion-color-secondary-rgb: 0, 188, 212;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #00a5bb;
    --ion-color-secondary-tint: #1ac3d8;
    /** tertiary **/
    --ion-color-tertiary: #62efff;
    --ion-color-tertiary-rgb: 98, 239, 255;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #56d2e0;
    --ion-color-tertiary-tint: #72f1ff;
    /** success **/
    --ion-color-success: #1fc340;
    --ion-color-success-rgb: 31, 195, 64;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #1bac38;
    --ion-color-success-tint: #35c953;
    /** warning **/
    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;
    /** danger **/
    --ion-color-danger: #ee4242;
    --ion-color-danger-rgb: 238, 66, 66;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #d13a3a;
    --ion-color-danger-tint: #f05555;
    /** dark **/
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 36, 40;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;
    /** medium **/
    --ion-color-medium: #92949c;
    --ion-color-medium-rgb: 146, 148, 156;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #808289;
    --ion-color-medium-tint: #9d9fa6;
    /** light **/
    --ion-color-light: #ffffff;
    --ion-color-light-rgb: 255, 255, 255;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #e0e0e0;
    --ion-color-light-tint: #ffffff;
    /** red-dark **/
    --ion-color-red-dark: #c31f1f;
    --ion-color-red-dark-rgb: 195, 31, 31;
    --ion-color-red-dark-contrast: #ffffff;
    --ion-color-red-dark-contrast-rgb: 255, 255, 255;
    --ion-color-red-dark-shade: #ac1b1b;
    --ion-color-red-dark-tint: #c93535;
    /** red-light **/
    --ion-color-red-light: #fa8787;
    --ion-color-red-light-rgb: 250, 135, 135;
    --ion-color-red-light-contrast: #ffff;
    --ion-color-red-light-contrast-rgb: #ffff;
    --ion-color-red-light-shade: #dc7777;
    --ion-color-red-light-tint: #fb9393;
    /** red-medium **/
    --ion-color-red-medium: #EF5E5E;
    --ion-color-red-medium-rgb: 239, 94, 94;
    --ion-color-red-medium-contrast: #ffff;
    --ion-color-red-medium-contrast-rgb: 255, 255, 255;
    --ion-color-red-medium-shade: #dc7777;
    --ion-color-red-medium-tint: #fb9393;
    /**blue-ligh**/
    --ion-color-blue-light: #50bfaf;
    --ion-color-blue-light-rgb: 80, 191, 175;
    --ion-color-blue-light-contrast: #ffff;
    --ion-color-blue-light-contrast-rgb: 255, 255, 255;
    --ion-color-blue-light-shade: #29887a;
    --ion-color-blue-light-tint: #8dc4bb;
    /**green-ligh**/
    --ion-color-green-light: #59ac8a;
    --ion-color-green-light-rgb: 89, 172, 138;
    --ion-color-green-light-contrast: #ffff;
    --ion-color-green-light-contrast-rgb: 255, 255, 255;
    --ion-color-green-light-shade: #4dc896;
    --ion-color-green-light-tint: #76d8b0;
    //
    --ion-font-family: iranyekan;
    --ion-default-font: iranyekan;
    // custom color
    --color-white: #fff;
    --color-dark: #333333;
    --color-atritech: #1EB0BD;
    --color-grey-50: #fafafa;
    --color-grey-100: #f5f5f5;
    --color-grey-200: #eeeeee;
    --color-gray-500: #808080;
    --color-gray-600: #999999;
    --color-gray-850: #D9D9D9;
    --color-gray-light: #C9C9C9;
    --color-gray-title: #6D6D6D;
    --ion-grey-550: #8c8c8c;
    --color-green-light: #59ac8a;
    --color-green-1: #66c4ac;
    --color-yellow: #f2b72f;
    --color-font: #3f3f3f;
    --ion-background-color: #fff
}

.ion-color-red-dark {
    --ion-color-base: var(--ion-color-red-dark);
    --ion-color-base-rgb: var(--ion-color-red-dark-rgb);
    --ion-color-contrast: var(--ion-color-red-dark-contrast);
    --ion-color-contrast-rgb: var(--ion-color-red-dark-contrast-rgb);
    --ion-color-shade: var(--ion-color-red-dark-shade);
    --ion-color-tint: var(--ion-color-red-dark-tint);
}

.ion-color-red-light {
    --ion-color-base: var(--ion-color-red-light);
    --ion-color-base-rgb: var(--ion-color-red-light-rgb);
    --ion-color-contrast: var(--ion-color-red-light-contrast);
    --ion-color-contrast-rgb: var(--ion-color-red-light-contrast-rgb);
    --ion-color-shade: var(--ion-color-red-light-shade);
    --ion-color-tint: var(--ion-color-red-light-tint);
}

.ion-color-red-medium {
    --ion-color-base: var(--ion-color-red-medium);
    --ion-color-base-rgb: var(--ion-color-red-medium-rgb);
    --ion-color-contrast: var(--ion-color-red-medium-contrast);
    --ion-color-contrast-rgb: var(--ion-color-red-medium-contrast-rgb);
    --ion-color-shade: var(--ion-color-red-medium-shade);
    --ion-color-tint: var(--ion-color-red-medium-tint);
}

.ion-color-blue-light {
    --ion-color-base: var(--ion-color-blue-light);
    --ion-color-base-rgb: var(--ion-color-blue-light-rgb);
    --ion-color-contrast: var(--ion-color-blue-light-contrast);
    --ion-color-contrast-rgb: var(--ion-color-blue-light-contrast-rgb);
    --ion-color-shade: var(--ion-color-blue-light-shade);
    --ion-color-tint: var(--ion-color-blue-light-tint);
}

.ion-color-green-light {
    --ion-color-base: var(--ion-color-green-light);
    --ion-color-base-rgb: var(--ion-color-green-light-rgb);
    --ion-color-contrast: var(--ion-color-green-light-contrast);
    --ion-color-contrast-rgb: var(--ion-color-green-light-contrast-rgb);
    --ion-color-shade: var(--ion-color-green-light-shade);
    --ion-color-tint: var(--ion-color-green-light-tint);
}