@import "src/theme/mixins";
.consultant-avatar {
    ion-img {
        object-fit: cover;
        object-position: center;
    }
}

.consultant-signUp {
    .upload-img {
        .image-base {
            width: 100px;
            height: 100px;
            border-radius: 15px;
            overflow: hidden;
            margin: 20px 0 0;
            color: var(--ion-color-medium);
            border: 1px solid var(--ion-color-medium);
        }
    }
}

.userFullName {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @include breakpoint(md-down) {
        width: 100%;
        flex: 0 0 55%;
        max-width: 55%;
        h3 {
            font-size: 18px;
            width: 100%;
            flex: 1;
        }
    }
}

.rulesLabel {
    white-space: pre-wrap;
}

.bigImages {
    height: 195px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.amountBadge {
    position: absolute;
    left: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 20px;
    background-color: #fff;
    z-index: 2;
    padding: 0 5px;
}

.rulesLink {
    position: relative;
    z-index: 3;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

ion-col {
    @media only screen and (max-width: 600px) {
        margin-bottom: 15px;
    }
}

.consultant-vector {
    ion-img {
        max-width: 70%;
        margin: 0 auto;
    }
}

.sign-up-component {
    @media only screen and (min-width: 716px) {
        padding: 0 50px 50px;
    }
    @media only screen and (max-width: 716px) {
        padding: 0;
    }
}

.boldTitle {
    font-size: 16px;
}