@import "~src/theme/extends";
.media-show {
    .border-box {
        padding: 15px;
        ion-button {
            height: 50px;
            margin-top: 20px;
        }
    }
    .user-details {
        ion-label {
            flex-direction: row !important;
        }
        ion-thumbnail {
            margin-left: 10px;
        }
    }
    .price {
        .old {
            text-decoration: line-through;
            margin-top: 5px;
        }
    }
}

.buyBtn {
    span {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        &::after {
            content: "";
            background-color: var(--ion-color-light);
            position: absolute;
            height: 30px;
            width: 1px;
            right: 0;
        }
    }
}

.media-desc {
    .image {
        width: 100%;
        height: 480px;
        @include breakpoint(md-down) {
            height: 200px;
        }
        video {
            width: 100%;
            height: 100%;
        }
    }
    .title {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .desc {
        font-size: 14px;
        line-height: 30px;
    }
}

.mediaSide {
    position: sticky;
    top: 50px;
}

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.podcast {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0 20px;
    audio {
        width: 90%;
    }
}