#blog {
    .blog-cards {
        display: flex;
        flex-direction: column;
        padding: 10px;
        .image {
            border-radius: 10px;
            overflow: hidden;
            width: 100%;
            height: 141px;
        }
        .desc {
            margin: 15px 0 2px;
            font-size: 12px;
            height: 63px;
            overflow: hidden;
            width: 100%;
        }
    }
}