<ion-header class="ion-hide-lg-up">
    <ion-toolbar color="light">
        <ion-buttons slot="start">
            <ion-button routerLink="/">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title> پنل کاربری </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true " class="pb-40 profile-page">
    <ion-item color="white" lines="none" class="mt-10">
        <ion-thumbnail slot="start" class="ml-20">
            <img *ngIf="global.getUserInfo().avatar" class="img-cover" [src]="global.getUserInfo().avatar" alt="user.png" />
            <img *ngIf="!global.getUserInfo().avatar" class="img-cover" [src]="'/assets/img/user.png'" alt="user.png" />
        </ion-thumbnail>
        <ion-label>
            <ion-text color="lightblue">
                <p>
                    {{ global.getUserInfo().name }}
                    <small>
						<ion-text color="medium"> ( کاربر )</ion-text>
					</small>
                </p>
            </ion-text>
            <ion-text color="lightblue">
                <p class="mt-10 phone">
                    +{{ global.getUserInfo().country.phone_code }}{{ global.getUserInfo().mobile }}
                </p>
                <p class="font-size-13">
                    <span class="gray-600 ml-5"> موجودی کیف پول  </span>
                    <ion-text color="success"> {{ balanceService.getUserBalance().value | number }} تومان </ion-text>
                </p>
            </ion-text>
        </ion-label>
    </ion-item>
    <div class="container p-0">
        <div class="mt-0 mt-lg-30 px-10 px-lg-100 pt-0 pt-lg-0">
            <ion-item detail button="true" lines="full" class="mb-0 mb-lg-15 cursor-pointer" [routerLink]="['/profile/editinfo']">
                <ion-label class="my-15">اطلاعات فردی</ion-label>
            </ion-item>
            <ion-item detail button="true" lines="full" class="mb-0 mb-lg-15 cursor-pointer" [routerLink]="['/profile/reservation']">
                <ion-label class="my-15">وقت های رزرو شده</ion-label>
            </ion-item>
            <ion-item detail button="true" lines="full" class="mb-0 mb-lg-15 cursor-pointer" [routerLink]="['/profile/wallet']">
                <ion-label class="my-15">افزایش موجودی</ion-label>
            </ion-item>
            <ion-item detail button="true" lines="full" class="mb-0 mb-lg-15 cursor-pointer" [routerLink]="['/profile/mycalls']">
                <ion-label class="my-15">مکالمات من</ion-label>
            </ion-item>
            <ion-item detail button="true" lines="full" class="mb-0 mb-lg-15 cursor-pointer" [routerLink]="['/profile/transactions']">
                <ion-label class="my-15">تراکنش ها</ion-label>
            </ion-item>
            <ion-item detail button="true" lines="full" class="mb-0 mb-lg-15 cursor-pointer" [routerLink]="['/profile/favourites']">
                <ion-label class="my-15">علاقه مندی ها</ion-label>
            </ion-item>
            <ion-item detail button="true" lines="full" class="mb-0 mb-lg-15 cursor-pointer" [routerLink]="['/profile/tickets']">
                <ion-label class="my-15">پشتیبانی</ion-label>
            </ion-item>
            <ion-item (click)="global.logOut()" detail="false" button="true" lines="none" class="mb-0 mb-lg-15 cursor-pointer">
                <ion-label color="danger" class="my-15">خروج از حساب کاربری</ion-label>
            </ion-item>
        </div>
    </div>
</ion-content>