@font-face {
    font-family: iransans;
    font-style: normal;
    font-weight: bold;
    src: url('/assets/fonts/iransans/fonts/woff2/IRANSansWebFaNum_Bold.woff2') format('woff2');
}

@font-face {
    font-family: iransans;
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/iransans/fonts/woff2/iransansWebFaNum_Medium.woff2') format('woff2');
}

@font-face {
    font-family: iransans;
    font-style: normal;
    font-weight: 300;
    src: url('/assets/fonts/iransans/fonts/woff2/iransansWebFaNum_Light.woff2') format('woff2');
}

@font-face {
    font-family: iransans;
    font-style: normal;
    font-weight: 200;
    src: url('/assets/fonts/iransans/fonts/woff2/IRANSansWebFaNum_UltraLight') format('woff2');
}

@font-face {
    font-family: iransans;
    font-style: normal;
    font-weight: normal;           
    src: url('/assets/fonts/iransans/fonts/woff2/IRANSansWebFaNum.woff2') format('woff2');
}